[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
keras = "*"
plaidml-keras = "*"
matplotlib = "*"
pydot = "*"
Pillow = "*"
tensorflow= "==1.14"
pandas = "*"
scipy="*"