[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
keras = "*"
plaidml-keras = "*"
matplotlib = "*"
Pillow = "*"
tensorflow= "==1.15"
pandas = "*"
keras-vis = {editable = true,ref = "master",git = "https://github.com/LeoIV/keras-vis.git"}
receptivefield="==0.4.0"
seaborn = "*"